# Build and release the snap on merge to main

name: Release snaps

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    branches:
      - main
  workflow_dispatch: {}

jobs:
  build:
    name: Build and release snaps
    uses: canonical/grafana-agent-snap/.github/workflows/_build_snap.yaml@main
    permissions:
      contents: write
    secrets: inherit
    with:
      release: true