# Build and release the snap on merge to main
#
# test-build-snap.yaml duplicates some of this workflow's logic.  If modifying this workflow, ensure
# that test-build-snap.yaml is also updated
name: Release Snap

on:
  push:
    branches:
      - main
  workflow_dispatch: {}

jobs:
  build:
    name: Build and release snaps
    uses: canonical/grafana-agent-snap/.github/workflows/_build_snap.yaml@main
    permissions:
      contents: write
    secrets: inherit
    with:
      release: true