# Build the snap on pull_request to ensure the snap is buildable before merge to main

name: Test snaps

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  pull_request:

jobs:
  build:
    name: Build snaps
    uses: canonical/grafana-agent-snap/.github/workflows/_build_snap.yaml@main
    permissions:
      contents: write
    secrets: inherit
    with:
      release: false